.optionsProfile {
  border-radius: 25px;
  background: #b8b7b791;
  padding: 20px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.App {
  text-align: center;
}

.btn {
  display: block;
  width: 100%;
  padding: 50px 50px;
  background: rgb(11, 110, 230);
  margin-left: 25%;
}

.btn:hover {
  background: rgb(172, 172, 172);
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  font-size: 15px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  color: white;
}

.nav-links {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
